*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    display:flex;
}
main{
    width:100%;
    padding: 20px;

}

.sidebar{
    background: rgb(108, 208, 250);
    color: black;
    height:100vh;
    width:300px;
    transition: all 0.5s;
}

.top_section{
    display:flex;
    align-items:center;
    padding: 20px 15px;
}

.logo{
    font-size: 30px;
}
.bars{
    display:flex;
    font-size: 25px;
    margin: left 50px;
}
.link{
    display: flex;
    color:white;
    padding:10px 15px;
    gap:15px;
    transition:all 0.5s;
}

.link:hover{
    background: white;
    color: black;
    transition: all 0.5s;
}

.active{
    background:white;
    color: black;
}

.icon, .link_text{
    font-size:20px;
}